/* TABLET-LÄGE */
@media (min-width: 768px) { /* Ändra i tablet-läge */
    /* Header */
.header .container { 
    width: 728px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-toggle-switch .label {
    display: block;
}

.mobile-menu { /* Styling på "hamburgermenyn" */
   padding-left: 3rem;
}

    /* MAIN */
#hero {
    .images {
        display: block;
        position: relative;

    }
    .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline"
                            "content images";

    }

    .buttons, .buttons-dark {
            transform: scale(.9);
    }

    .content {
        text-align: center;   
    }

    .save-text {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 1.5rem;
    }
}
.img-front-desktop {
    display: none;
}

.img-front {
    position: absolute;
    z-index: -5;
    bottom: -11.2rem;
    transform: scale(.48);
    left: 1.8rem;
}

.img-back {
    position: absolute;
    z-index: -10;
    bottom: -9rem;
    transform: scale(.48);
    right: 2.5rem;
}     

    /* Section-1 */
#brands .section-1 { /* Styla brandsen i relativitet till sectionen */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 2rem;
}

#brand-5, #brand-6 { 
    display: none;
}

.brand-box {
    width: 180px;
    height: 90px;
    padding: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
    /* SECTION-2 */

#app-features {
    padding-bottom: 1rem;
    .section-2 {
        gap: .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "text text"
            "container-1 container-2";
    }
}

    /* SECTION-3 */
#how-does-it-work {
    position: relative;
    .tablet, .tablet-text, .frame {
        display: block;
    }

    .mobile, .mobile-text {
        display: none;
    }

    .frame {
        position: absolute;
        top: 4.55em;
        left: 50%;
        transform: translateX(-50%);
        height: fit-content;
    }
}

    /* SECTION 6 */
#questions {
    padding-left: 1rem;
    padding-right: 1rem;

    .tablet-piece, .desktop-tablet-version-1, .desktop-tablet-version-2, .paragraph-tablet, .square {
        display: block;
        margin-bottom: 1rem;
        border: none;
    }

    .desktop-tablet-version-1, .desktop-tablet-version-2, .paragraph-tablet, .square {
        background-color: var(--color-box-white);
    }

    .mobile-version, .mobile-version-1, .mobile-version-text, .contact-button, .desktop-piece {
        display: none;
    }

    .section-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .desktop-tablet-version-1, .square, .square-1 .square-2, .square-3 {
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-weight: 900;
        }

        .desktop-tablet-version-1 {
            padding-right: 2rem;
            padding-left: 1rem;
            padding-top: 1rem; 
        }
    }

    .desktop-tablet-version-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "can-i"
        "lorem";
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        

        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .btn-circle-1 {
                background-color: var(--color-primary);
        }

        h3 {
            padding-top: 1.5rem;
        }

        .lorem {
            color: var(--color-grey700);
        }
    }

    .square-1 {
        justify-content: space-between;
        border-top: 2px solid #E2E5F1;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .tablet-piece {
        display: flex;               
        justify-content: space-between; 
        margin-bottom: 2rem; 
        margin-top: 2rem;   
    }
        
    .square-2, .square-3 {
        flex: 1; /* square-2 och square-3 tar lika mycket plats (hjälp från chat GPT hur man skulle göra det) */
        text-align: center;
        margin-right: 1rem;   
        padding-bottom: 1rem;  
        border: 2px solid var(--color-grey300);
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap: 1rem;
    }

    .square-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .square-2 img {
        padding-top: 1rem;
    }
        
    .square-3 {
        margin-right: 0;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .square-3 img {
        padding-top: 1rem;
    }
}

#contact-1 i {
    margin-left: .5rem;
    color: var(--color-primary);
}

#contact-1 {
    span {
        color: var(--color-primary);
    }
}

#contact-2 i {
    margin-left: .5rem;
    color: var(--color-success);
}

#contact-2 {
    span {
        color: var(--color-success);
    }
}

    /* SECTION-7 */
#subscribe {
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    width: 36rem;
    padding-left: 0;
    padding-right: 0;
}

.box-7 {
    padding-top: 1rem;
}


    /* Footer */
footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding-right: .3rem;
}
}


/* DESKTOP-LÄGE */
@media (min-width: 1400px) {
    /* Header */
header .container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 4rem;

    grid-template-columns: auto auto 1fr auto auto;
    gap: 2.5rem;
}

.mobile-menu {
    display: none;
}

#sign-in {
    display: block;
}

.nav-bar {
    display: block;
}

.btn-1 i {
    margin-right: 8px;
}

    /* MAIN */
#hero {
    background: var(--custom-gradient-desktop);
    .container {
        width: 1200px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline content"
                            "images";
    } 

    .img-front {
        display: none;
    }

    .img-front-desktop {
        display: block;
    }

    .images {
        grid-area: images;
        position: relative;
        z-index: 1;
        display: block;

        .img-front-desktop {
            position: absolute;
            z-index: -5;
            bottom: -1.092rem;
            transform: scale(.95);
            left: 9rem;
        }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: -.85rem;
            transform: scale(.95);
            left: -4.5rem;
        }
    }

    .headline {
       grid-area: headline; 
       text-align: left;
       padding-left: 2rem;
       margin-top: 3rem;
    }

    .content {
        grid-area: content;
        text-align: left;
    }

    .save-text {
        padding-right: 9rem;
        padding-left: 2rem;
        color: var(--color-savetext2);
    }

    .buttons, .buttons-dark {
        transform: scale(1.1);
        padding-right: 7rem;
}

    .all-discover {
        display: flex;
        justify-content: flex-start; 
        margin-top: 10rem;
        padding-left: 2rem;
    }

}
    /* SECTION-1 */

#brands {
    .section-1 {
        width: 1200px;
        margin: 0 auto;
    }
}

.brand-box {
    width: 170px;
    height: 90px; 
}

#brand-5, #brand-6 {
    display: block;
    
    display: flex;
    justify-content: center;
    align-items: center;
} 

    /* SECTION-2 */
#app-features {
    .mobile-app {
        display: block;
        transform: scale(.7);
    }

    .section-2 {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas:
                "mobile-app text text"
                "mobile-app container-1 container-2"
                "mobile-app container-1 container-2"; 
    }

    .box-2 {
        width: 1200px;
        margin: 0 auto;
    }

    .text {
        h2 {
            text-align: left;
            padding-left: 1.5rem;
        }

        p {
            text-align: left;
            margin-left: 1rem;
            margin-right: 3.5rem;
        }
    }

    .feature {
        padding-bottom: 3rem;
    }
} 

    /* SECTION-3 */
#how-does-it-work {
    text-align: center;
    .tablet, .tablet-text, .frame {
        display: none;
    }

    .desktop, .desktop-text {
        display: block;
    }

    .desktop-text {
        h2 {
            font-weight: 800;
        }
    }
    
    h1 {
        font-weight: 900;
        font-size: 3rem;
    }

    p {
        font-size: .8rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
}

    /* SECTION-4 */
#make-money {
    display: block;

    .section-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                "text-1 img-1"
                "img-2 text-2";
    }
}

.box-4 {
    width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.feat-list {
    list-style-type: disc;
    color: var(--color-grey700);
}

.list-1, .list-2, .list-3 {
    padding-bottom: 1rem;
}

.img-1 {
    padding-left: 2rem;
}

.img-2 {
    padding-left: 4rem;
    padding-top: 3rem;
}

.text-1 {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.text-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline-R headline-R"
                            "icon-1 icon-3"
                            "para-1 para-2";
    padding-right: 4rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    gap: 2rem;

    .headline-R {
        text-align: left;
        font-weight: 800; 
    }
    
    .icon-1, .icon-3 {
        left: 1rem;
        padding-top: 1rem;
    }

    .para-1, .para-2 {
        padding-bottom: 1rem;
    }
}

    /* SECTION-5 */
#clients {
     display: block;
}

.section-5 {
    background-color: var(--color-grey100);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-app {
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--color-grey900);
    margin-right: 3rem;
    margin-left: 3rem;
    padding-bottom: 15rem;
}

.summers, .flores {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

    /* SECTION-6 */
#questions {
    .tablet-piece {
        display: none;
    }

    .section-6 {
        width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto 2fr; /* Två kolumner, där box-2 tar större plats */
        column-gap: .5rem; 
    }

    .box-1 {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        h2 {
            text-align: left;
        }
                            
        p {
            text-align: left;
            padding-left: 0;
            margin: 0;
        }
    }

    .desktop-piece {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;

        .square-4, .square-5 {
            margin-right: 1rem; 
            padding-top: 1rem;
            padding-bottom: 1rem;  
            padding-left: 1rem;

            text-align: left;
            justify-content: left;

            color: var(--color-dwhite);
            border: 2px solid var(--color-grey300);
            border-radius: 7px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            gap: 1rem;

            p {
                margin: 0;
                padding-bottom: 3rem;
                padding-top: 1rem;
                font-size: 14px;
            }
        }
    }

    .box-2 {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(auto, 1fr)); /* hjälp från chatGPT med denna kod */
        padding-top: 1rem;
        padding-left: 3rem;
        font-size: .9rem;
    }

    #contact-4 i {
        color: var(--color-primary);
    }

    #contact-4 {
        span {
            color: var(--color-primary);
        }
    }

    #contact-5 i {
        color: var(--color-success);
    }

    #contact-5 {
        span {
            color: var(--color-success);
        }
    }
}

     /* SECTION-7 */
#subscribe {
    .yellow-bell-2 {
        display: flex;
        align-items: center;
    }
        
    .yellow-bell-2 img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
        
    .yellow-bell-2 h2 {
        font-size: 1.4rem;
        margin: 0;
        font-weight: 800;
        padding-right: 2rem;
    }

    .yellow-bell {
        display: none;

        h2 {
            padding-right: 1rem;
        }
    }
    .input-container {
        width: 28rem;
    }

    .section-7 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.box-7 {
    width: 1200px;
    margin: 0 auto;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}
}